<form class="md-float-material" [formGroup]="loginForm" (ngSubmit)="reset()" novalidate>
    <section class="login p-fixed d-flex bg-white">
      <div class="row full-width">
        <div class="col-md-8 col-sm-7 authbg">
          <div class="authcontent">
            <h2>Your Participation Matters</h2>
            <p>Volunteer Management System</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-5">
          <!-- Authentication card start -->
          <div class="login-card auth-body">
              <img src="assets/images/logo.png" alt="Volunteer Management Portal">
           
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-left txt-primary">Reset Password</h3>
                  </div>
                </div>
                <hr />
                <div class="form-group">
                  <!-- <small *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.valid && !loginForm.valid" class="pull-left text-danger">Can't be blank</small> -->
                  <small *ngIf="validateForm && !loginForm.controls.password.valid && !loginForm.valid" class="pull-left text-danger">Can't be blank</small>

                  <div class="input-group">
                    <input type="password" class="form-control" autofocus placeholder="Password" formControlName="password" (keyup.enter)="reset()">
                    <span class="md-line"></span>
                  </div>
                  <!-- <small *ngIf=" loginForm.controls.confirmpassword.touched && !loginForm.controls.confirmpassword.valid && !loginForm.valid" class="pull-left text-danger">Can't be blank</small> -->
                  <small *ngIf="validateForm && !loginForm.controls.confirmpassword.valid && !loginForm.valid" class="pull-left text-danger">Can't be blank</small>

                  <div class="input-group">
                    <input type="password" class="form-control" autofocus placeholder="Confirm Password" formControlName="confirmpassword" (keyup.enter)="reset()">
                    <span class="md-line"></span>
                  </div>
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Submit</button>
                  </div>
                </div>
                <p class="text-center">Go to <a [routerLink]="['']" class="f-w-600 text-primary">Login</a>? </p>
                <div class="form-group alert alert-danger" *ngIf="errorMessage">
                  {{errorMessage}}
                </div>
                            <!-- end of form -->
          </div>
          <!-- Authentication card end -->
        </div>
        <!-- end of col-sm-12 -->
      </div>
        <!-- end of row -->
    </section>
  </form>
